<h1>Editing Credit Client Warranty Documents List</h1>

<%= render 'form', credit_client_warranty_documents_list: @credit_client_warranty_documents_list %>

<%= link_to 'Show', @credit_client_warranty_documents_list %> |
<%= link_to 'Back', credit_client_warranty_documents_lists_path %>
