<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @usuario_role.name %>
</p>

<%= link_to 'Edit', edit_usuario_role_path(@usuario_role) %> |
<%= link_to 'Back', usuario_roles_path %>
