<h1><%= t('.title') %></h1>

<%= render 'form', credit_client_warranty_document_list: @credit_client_warranty_document_list %>

<%= link_to t('show'), @credit_client_warranty_document_list %> |
<%= link_to t('back'), credit_client_warranty_document_lists_path %>
