<h1>Editing Credit Client Partner Document List</h1>

<%= render 'form', credit_client_partner_document_list: @credit_client_partner_document_list %>

<%= link_to 'Show', @credit_client_partner_document_list %> |
<%= link_to 'Back', credit_client_partner_document_lists_path %>
