<h1><%= t('.title') %></h1>
<div class="row" style="padding:20px 0px;">
  <div class="col-md-2 col-md-offset-10">
    <%= link_to t('.show'), @juridico_processo %> |
    <%= link_to t('.back'), juridico_processos_path %>
  </div>
</div>
<div class="container">
  <%= render 'form' %>
</div>



