<footer class="footer">
  <small>
    Lista de contatos <a href="http://www.alternativefinance.com.br">Alternative</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   about_path %></li>
      <li><%= link_to "Contatos", contatos_path %></li>
    </ul>
  </nav>
</footer>